name: urlzap
on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Generate & Deploy
    steps:
    # Checkout your repo locally
    - uses: actions/checkout@v2

    # Generate files using this action
    - name: Generate static site with urlzap
      uses: brunoluiz/urlzap-github-action@v1
      with:
        config: ./baml.yaml

    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: "3.10.11" #install the python needed

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: generate qr codes
      run: |
        python generate_qr_codes.py

    # Deploy in Github Pages (you can use others)
    - name: deploy to gh-pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: .
